<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vacancy TEST</title>
</head>
<body>
<div th:switch="${vacancy}">
    <h2 th:case="null">NOT FOUND</h2>
    <div th:case="*">
        <table>
            <thead>
            <tr>
                <th th:text="${vacancy.name}"></th>
            </tr>
            <tr>
                <th th:text="${vacancy.city.name}"></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <h1>Описание</h1>
                        <div th:each="line : ${textDescription}" th:remove="tag">
                            <p th:utext="${line}"></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h1>Чему вы можете у нас научиться</h1>
                        <div th:each="line : ${textStudy}" th:remove="tag">
                            <p th:utext="${line}"></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h1>Обязанности</h1>
                        <div th:each="line : ${textResponsibilities}" th:remove="tag">
                            <p th:utext="${line}"></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h1>Требования</h1>
                        <div th:each="line : ${textRequirements}" th:remove="tag">
                            <p th:utext="${line}"></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h1>Мы предлагаем</h1>
                        <div th:each="line : ${textFeatures}" th:remove="tag">
                            <p th:text="${line}"></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h1>Зарплата</h1>
                        <div th:each="line : ${textSummary}" th:remove="tag">
                            <p th:utext="${line}"></p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p><a th:href="@{'/vacancies/' + ${vacancy.id} + '/delete'}"><button>Delete</button></a></p>
    <p><a th:href="@{'/vacancies/' + ${vacancy.id} + '/edit'}"><button>Edit</button></a></p>
    <p th:switch="${vacancy.active}">
        <a th:case="true" th:href="@{'/vacancies/' + ${vacancy.id} + '/set-active/?is-active=false'}"><button>Deactivate</button></a>
        <a th:case="false" th:href="@{'/vacancies/' + ${vacancy.id} + '/set-active/?is-active=true'}"><button>Activate</button></a>
    </p>
</div>
</body>
</html>