<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Vacancy TEST</title>
</head>
<body>
  <form method="post">
    <label>
        <p>name:</p>
        <input type="text">
    </label>
      <label>
          <p>keywords:</p>
          <input type="text">
      </label>
      <label>
          <p>city:</p>
          <input type="text">
      </label>
      <label>
          <p>summary:</p>
          <input type="text">
      </label>
      <label>
          <p>contactUser:</p>
          <input type="text">
      </label>
      <label>
          <p>activeStatus:</p>
          <input type="text">
      </label>
      <label>
          <p>textDescription:</p>
          <input type="text">
      </label>
      <label>
          <p>textStudy:</p>
          <input type="text">
      </label>
      <label>
          <p>textResponsibilities:</p>
          <input type="text">
      </label>
      <label>
          <p>textRequirements:</p>
          <input type="text">
      </label>
      <label>
          <p>textFeatures:</p>
          <input type="text">
      </label>
      <label>
          <p>textSummary:</p>
          <input type="text">
      </label>
  </form>
</body>
</html>