<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cities TEST</title>
</head>
<body>
    <div th:switch="${cities}">
        <h2 th:case="null">NOT FOUND</h2>
        <div th:case="*">
            <h2>Cities</h2>
            <table>
                <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>action</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="city : ${cities}">
                        <td th:text="${city.id}"></td>
                        <td th:text="${city.name}"></td>
                        <td>
                            <a th:href="@{'/cities/' + ${city.id} + '/delete'}"><button>Delete</button></a>
                            <a th:href="@{'/cities/' + ${city.id} + '/edit'}"><button>Edit</button></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p><a href="/cities/new">Create</a></p>
    </div>
</body>
</html>