<div th:fragment="footer">
    <div class="footer-container-column">
        <div class="footer-container-row">
            <div class="footer-item">
                <div class="logo-INERI filter-black noselect" id="logo" style="margin-bottom: 25px"></div>
                <a class="link-underline" href="../index.html">Главная</a></br>
                <a class="link-underline" href="../contacts.html">Контакты</a></br>
                <a class="link-underline" href="../vacancies.html">Вакансии</a></br>
                <div style="margin-top: 10px">developer: <a href="https://shortlink58.page.link/ineri-alexsnitol" class="link-underline">@alexsnitol</a></div>
            </div>
            <div class="footer-item">
                <div class="flex-container flex-column" style="justify-content: space-between;">
                    <div class="flex-item">
                        © <div id="footer-years" style="display: inline-block"></div> ООО “ИНЕРИ”</br>
                    </div>
                    <div class="flex-item">
                        Все права защищены.
                    </div>
                    <div class="flex-item">
                        ОГРН: 1217700470052
                    </div>
                    <div class="flex-item">
                        ИНН: 7743367509
                    </div>
                    <div class="flex-item">
                        КПП: 774301001
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-item" style="font-size: 14px; margin-top: 10px">
        Портал inerirealty.ru использует файлы cookie, чтобы улучшить работу и повысить эффективность сайта. Продолжая, вы соглашаетесь с использованием нами cookies. <a href="cookie.html" class="link-underline">Подробнее о том, как мы используем файлы cookie.</a>
    </div>
</div>
