<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет - Агенство недвижимости в Москве ИНЕРИ</title>
    <meta name="description" content="Контакты. Агентство недвижимости в Москве ИНЕРИ. Инвестиции в недвижимость. Выкуп объектов. Торги по банкротству.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="shortcut icon" th:href="@{/images/icon_INERI_1.svg}" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale-subtle.css" />
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/themes/light.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script th:src="@{/scripts/scrolling.js}"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
</head>
<body>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        // Global settings:
        disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
        startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
        initClassName: 'aos-init', // class applied after initialization
        animatedClassName: 'aos-animate', // class applied on animation
        useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
        disableMutationObserver: false, // disables automatic mutations' detections (advanced)
        debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
        throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)


        // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
        offset: 0, // offset (in px) from the original trigger point
        delay: 200, // values from 0 to 3000, with step 50ms
        duration: 700, // values from 0 to 3000, with step 50ms
        easing: 'ease', // default easing for AOS animations
        once: true, // whether animation should happen only once - while scrolling down
        mirror: true, // whether elements should animate out while scrolling past them
        anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
    });
</script>
<script type="text/javascript">
    $( () => {
        $('#menu-vacancies').on('click', () => {
            $('html,body').animate({
                scrollTop: 0
            },500);
        });
    });
    $( () => {
        $('#menu-vacancies-mini').on('click', () => {
            $('html,body').animate({
                scrollTop: 0
            },500);
        });
    });
</script>

<div th:replace="fragments/header :: header"></div>
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <form action="">
                <div class="d-flex flex-column align-items-center text-center-account p-3 py-5">
                    <label for="imgarticle" hidden>Главное изображение</label>
                    <div class="logo-holder imgarticle rounded-circle mt-5">
                        <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                    </div>
                    <div class="flex-row-account">
                        <button class="btn btn-primary" type="submit" id="main-article-img">Добавить</button>
                        <button class="btn btn-danger ml-2" type="submit" id="del-main-img">Удалить</button>
                        <div style="height: 0; width: 0; overflow: hidden; float: left;">
                            <input id="imgarticle" type="file" name="shopimage" accept="image/*">
                        </div>
                    </div>
                    <span class="font-weight-bold">AAAAA</span>
                    <span class="text-black-50">AAAAA@mail.com.my</span>

                    <span> </span>
                </div>
                </form>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Настройки профиля</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Имя</label>
                            <input type="text" class="form-control" placeholder="Имя" value="">
                        </div>
                        <div class="col-md-6"><label class="labels">Фамилия</label>
                            <input type="text" class="form-control" value="" placeholder="Фамилия">
                        </div>
                        <div class="col-md-6"><label class="labels">Отчество</label>
                            <input type="text" class="form-control" value="" placeholder="Отчество">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Телефонный номер</label>
                            <input type="text" class="form-control" placeholder="введите номер" value="">
                        </div>
                        <div class="col-md-12"><label class="labels">Email ID</label>
                            <input type="text" class="form-control" placeholder="введите email id" value="">
                        </div>

                    </div>
                    <div class="mt-5 text-center-account">
                        <button class="btn btn-primary profile-button" type="button">Сохранить</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience">
                        <span>Редактирование профиля</span><span class="border px-3 p-1 add-experience">
                        <i class="fa fa-plus"></i>&nbsp;Редактировать</span>
                    </div><br>
                    <div class="col-md-12"><label class="labels">Логин</label>
                        <input type="text" class="form-control" placeholder="Логин" value="">
                    </div> <br>
                    <div class="col-md-12"><label class="labels">Пароль</label>
                        <input type="password" class="form-control" placeholder="Пароль" value="">
                    </div>
                </div>
            </div>
        </div>
    </div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>