<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Объявление - Агенство недвижимости в Москве ИНЕРИ</title>
    <meta name="description" content="Контакты. Агентство недвижимости в Москве ИНЕРИ. Инвестиции в недвижимость. Выкуп объектов. Торги по банкротству.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static/styles/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="../../static/styles/owl.theme.css" rel="stylesheet" type="text/css" />
    <link href="../../static/styles/owl.transitions.css" rel="stylesheet" type="text/css" />
    <link id="bootstrap" href="../../static/styles/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="shortcut icon" href="../../static/images/icon_INERI_1.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale-subtle.css" />
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/themes/light.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../../static/styles/style-account.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../../static/scripts/includeHTML.js"></script>
    <script src="../../static/scripts/scrolling.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
</head>
<header th:insert="fragment/header :: header"></header>
<body>
<div id="wrapper">
    <div class="no-bottom no-top" id="content">
        <section id="subheader" class="s2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Жк Красивск</h2>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
        <section aria-label="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div id="slider-carousel" class="owl-carousel">
                            <div class="item">
                                <img src="../../static/images/1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="../../static/images/2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="../../static/images/3.jpg" alt="">
                            </div>
                        </div>


                        <div class="spacer-single"></div>

                        <h3>Характеристики</h3>
                        <p>Тут захуярим тимлиф</p>

                        <div class="spacer-single"></div>

                        <div class="spacer-single"></div>

                        <h3>Карта</h3>
                        <div class="de-map-wrapper">
                            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab82847f996ea8df9d0cb908e1d9361abc163022266ebeb868842422b89298f43&amp;source=constructor"  allowfullscreen="" loading="lazy"></iframe>
                        </div>

                        <div class="spacer-double"></div>

                    </div>

                    <div id="sidebar" class="col-lg-4">
                        <div class="de-box de-location-address">
                            <h3>Адрес</h3>
                            <div>Или<br>тут<br>тимлиф</div>
                            <div></div>
                        </div>

                        <div class="spacer-single"></div>

                        <div class="sidebar_inner">
                            <div id="quick_form" class="form-border mb30">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>Можно будет спользовать как форму для заполнения анкеты, чуть добавить и готово</h3>
                                    </div>

                                    <div class="col-md-6">
                                        <input type="text" name="first_name" id="first_name" class="form-control" placeholder="Имя" />
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" name="user_name" id="user_name" class="form-control" placeholder="Фамилия" />
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" name="work_email" id="work_email" class="form-control" placeholder="Email" />
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" name="mobile_phone" id="mobile_phone" class="form-control" placeholder="Номер" />
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" name="company" id="company" class="form-control" placeholder="Тип дома" />
                                    </div>
                                    <div class="col-md-6">
                                        <h6>Год постройки</h6>
                                        <input type="date" name="move_in_date" id="move_in_date" class="form-control" min="1997-01-01" />
                                    </div>

                                    <div class="col-md-12">
                                        <a href="#" class="btn-primary">кнопка</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </section>

    </div>

</div>

<script src="../../static/scripts/jquery/jquery.min.js"></script>
<script src="../../static/scripts/jquery/jquery.isotope.min.js"></script>
<script src="../../static/scripts/jquery/owl.carousel.js"></script>
<script src="../../static/scripts/jquery/OwlCarousel2Thumbs.min.js"></script>
<script src="../../static/scripts/jquery/jquery.magnific-popup.min.js"></script>
<script src="../../static/scripts/jquery/enquire.min.js"></script>
<script src="../../static/scripts/jquery/jquery.smartsticky.min.js"></script>
<script src="../../static/scripts/jquery/designesia.js"></script>
</body>
<footer th:insert="fragment/footer :: footer"></footer>
</html>