<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Политика использования cookie - Агенство недвижимости в Москве ИНЕРИ</title>
    <meta name="description" content="Политика использования cookie. Агентство недвижимости в Москве ИНЕРИ. Инвестиции в недвижимость. Выкуп объектов. Торги по банкротству.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/style.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="shortcut icon" th:href="@{/images/icon_INERI_1.svg}" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script th:src="@{/scripts/scrolling.js}"></script>
</head>
<body>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            // Global settings:
            disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
            startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
            initClassName: 'aos-init', // class applied after initialization
            animatedClassName: 'aos-animate', // class applied on animation
            useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
            disableMutationObserver: false, // disables automatic mutations' detections (advanced)
            debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
            throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)


            // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
            offset: 0, // offset (in px) from the original trigger point
            delay: 200, // values from 0 to 3000, with step 50ms
            duration: 700, // values from 0 to 3000, with step 50ms
            easing: 'ease', // default easing for AOS animations
            once: true, // whether animation should happen only once - while scrolling down
            mirror: true, // whether elements should animate out while scrolling past them
            anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
        });
    </script>

    <div th:replace="fragments/header :: header"></div>

    <div id="vacancies-main" class="slide slide-darkblue">
        <div id="vacancies-main-content" class="content">
            <div class="title-big" data-aos="fade-up" data-aos-delay="200" style="position: relative; text-align: left; top: 15%;">Как мы используем файлы cookie</div></br>
            <div id="vacancies-main-content-list" style="position: relative; top: 15%">
                <div class="list-element" data-aos="fade-up" data-aos-delay="300">
                    <div class="second-row-block">
                        <p>Уведомляем вас, что портал <a>inerirealty.ru</a> использует файлы cookie. Продолжая пользование порталом <a>inerirealty.ru</a> (далее Портал), Пользователь соглашается на использование Порталом файлов cookie.</p>
                        <p>Файлы cookie представляют собой небольшие файлы, сохраняемые на текущем устройстве Пользователя веб-браузером по требованию сайта, который просматривает Пользователь. Это позволяет просматриваемому сайту запоминать Пользователя, его персональные настройки на сайте, историю, данные авторизации Пользователя и т.д. Конкретному сайту доступны только файлы cookie, установленные этим сайтом, файлы cookie, установленные другими сайтами, ему не доступны.</p>
                        <p>Портал <a>inerirealty.ru</a> использует cookie, а также IP Пользователя только с целью обеспечения расширенной функциональности Портала, анализа данных, сбора статистики и информации о поведении Пользователей на Портале.</p>
                        <p>На портале <a>inerirealty.ru</a> используются независимые сервисы статистики, которые также использует файлы cookie. Информация об использовании Пользователем веб-сайтов, сохранённая в файле cookie, а также IP-адрес и данные геолокации, передаётся и хранится на серверах сервисов статистики и используется для анализа действий Пользователей на сайтах, составления отчетов о деятельности веб-сайтов и предоставления других услуг, связанных с работой сайтов и использования сети Интернет.</p>
                        <p>Пользователь может отказаться от использования cookie, выбрав соответствующие настройки в браузере, однако в этом случае Пользователь не сможет использовать все функции Портала.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</body>
</html>