<div class="logo logo-INERI" id="logo"></div>
<div class="menu">
    <a href="index.html"><div id="menu-main" class="menu-item"><div class="icon icon-home filter-white" style="margin-right: 10px;"></div>Главная</div></a>
    <a href="announcements.html"><div id="menu-catalog" class="menu-item"><div class="icon icon-home-purchasing-2 filter-white" style="margin-right: 10px;"></div>Каталог</div></a>
    <a href="#"><div id="menu-investing" class="menu-item hide"><div class="icon icon-growth filter-white" style="margin-right: 10px;"></div>Инвестиции</div></a>
    <a href="contacts.html"><div id="menu-contacts" class="menu-item"><div class="icon icon-call-point-2 filter-white" style="margin-right: 10px;"></div>Контакты</div></a>
    <a href="vacancies.html"><div id="menu-vacancies" class="menu-item"><div class="icon icon-job filter-white" style="margin-right: 10px;"></div>Вакансии</div></a>
    <a href="account.html"><div id="menu-account" class="menu-item"><div class="icon icon-user filter-white" style="margin-right: 10px;"></div>Личный кабинет</div></a>

    <a href="index.html"><div id="menu-main-mini" class="menu-item only-icon"><div class="icon icon-home filter-white"></div></div></a>
    <a href="announcements.html"><div id="menu-catalog-mini" class="menu-item only-icon"><div class="icon icon-home-purchasing-2 filter-white"></div></div></a>
    <a href="#"><div id="menu-investing-mini" class="menu-item only-icon hide"><div class="icon icon-growth filter-white"></div></div></a>
    <a href="contacts.html"><div id="menu-contacts-mini" class="menu-item only-icon "><div class="icon icon-call-point-2 filter-white"></div></div></a>
    <a href="vacancies.html"><div id="menu-vacancies-mini" class="menu-item only-icon "><div class="icon icon-job filter-white"></div></div></a>
    <a href="account.html"><div id="menu-account-mini" class="menu-item only-icon"><div class="icon icon-user filter-white"></div></div></a>
</div>