<!doctype html>
<html lang="en" id="signinHtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Войти - Агентство недвижимости в Москве ИНЕРИ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Авторизация. Агентство недвижимости в Москве ИНЕРИ. Инвестиции в недвижимость. Выкуп объектов. Торги по банкротству.">
    <link th:href="@{/styles/style.css}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" th:href="@{/images/icon_INERI_1.svg}" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script th:src="@{/scripts/scrolling.js}"></script>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

    <div class="slide slide-darkblue">
        <div class="content">
            <form action="#" th:action="@{/login}" th:object="${user}" method="post">
                <h1 class="h3 mb-3 mt-5 fw-normal" style="color: white" >Авторизация</h1>

                <div class="mb-3">
                    <label for="login" class="form-label">Имя пользователя</label>
                    <input type="text" th:field="*{username}" class="form-control" id="login" aria-describedby="loginErrMsg">
                    <div id="loginErrMsg" class="form-text">Error message</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Пароль</label>
                    <input type="password" th:field="*{password}" class="form-control" id="password" aria-describedby="passwordErrMsg">
                    <div id="passwordErrMsg" class="form-text">Error message</div>
                </div>

                <button type="submit" class="btn btn-primary">Войти</button>
                <a th:href="@{'/sign-up'}" class="w-100 mt-1 btn btn-lg btn-secondary" role="button" aria-pressed="true">Создать аккаунт</a>
            </form>
        </div>
    </div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>