<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <meta name="description" content="Template. Агентство недвижимости в Москве ИНЕРИ. Инвестиции в недвижимость. Выкуп объектов. Торги по банкротству.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/style.css}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" th:href="@{/images/icon_INERI_1.svg}" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script th:src="@{/scripts/scrolling.js}"></script>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="full-window-container bg-darkblue">
    <div class="header-block"></div>
    <div class="content">
        <div class="sub-content" style="width: 80%">
            <div class="subtitle" style="padding-bottom: 50px">Профиль</div>
            <div class="form">
                <div class="form-content">
                    <div class="row column">
                        <div class="label"></div>
                        <div class="avatar">
                            <th:block th:switch="${user.photoPath}">
                                <img th:case="null" th:src="@{'/images/default_user_avatar.png'}">
                                <img th:case="*" th:src="${user.photoPath}">
                            </th:block>
                        </div>
                    </div>
                    <div class="row column" >
                        <div class="label"></div>
                        <div class="text" th:text="'Имя пользователя: ' + ${user.username}"></div>
                    </div>
                    <div class="row column">
                        <div class="label"></div>
                        <div class="text" th:text="'ФИО: ' + ${user.surname} + ' ' + ${user.name} + ' ' + ${user.patronymic}"></div>
                    </div>
                    <div class="row column">
                        <div class="label"></div>
                        <div class="text" th:text="'Эл. почта: ' + ${user.email}"></div>
                    </div>
                    <div class="row column">
                        <div class="label"></div>
                        <div class="text" th:text="'Телефон: +7 ' + ${user.phoneNumber}"></div>
                    </div>
                    <div class="row">
                        <a th:href="@{'/' + ${username} + '/profile/edit'}" class="button button-simple-type-1 button-color-change" style="line-height: normal;">Редактировать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>