<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Тип ремонта</title>
    <meta name="description" content="Агентство недвижимости в Москве ИНЕРИ. Инвестиции в недвижимость. Выкуп объектов. Торги по банкротству.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/style.css}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" th:href="@{/images/icon_INERI_1.svg}" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script th:src="@{/scripts/scrolling.js}"></script>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="full-window-container bg-darkblue">
    <div class="header-block bg-darkblue4"></div>
    <div th:replace="fragments/control_panel_header :: control-panel-header"></div>
    <div class="content">
        <div class="sub-content" style="width: 80%">
            <div class="subtitle" style="padding-bottom: 50px; position: sticky">Типы ремонта</div>
            <div class="flex-table flex-table--3cols">
                <div class="control-panel">
                    <a class="button button-simple-type-1 button-color-add" href="/renovation-types/new">Добавить новую запись</a>
                </div>
                <div class="head">
                    <div class="cell" style="width: 50px">
                        ID
                    </div>
                    <div class="cell" style="flex-grow: 1">
                        Название
                    </div>
                    <div class="cell" style="width: 220px">
                        Действия
                    </div>
                </div>
                <div class="row" th:each="type : ${renovationTypes}">
                    <div class="cell" th:text="${type.id}" style="width: 50px"></div>
                    <div class="cell" th:text="${type.name}" style="flex-grow: 1"></div>
                    <div class="cell actions" style="width: 220px">
                        <a class="button button-simple-type-1 button-color-change" th:href="@{'/renovation-types/' + ${type.id} + '/edit'}">Изменить</a>
                        <a class="button button-simple-type-1 button-color-delete" th:href="@{'/renovation-types/' + ${type.id} + '/delete'}" style="margin-left: 10px">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>