<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <meta name="description" content="Template. Агентство недвижимости в Москве ИНЕРИ. Инвестиции в недвижимость. Выкуп объектов. Торги по банкротству.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/style.css}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" th:href="@{/images/icon_INERI_1.svg}" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script th:src="@{/scripts/scrolling.js}"></script>
</head>
<body>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        // Global settings:
        disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
        startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
        initClassName: 'aos-init', // class applied after initialization
        animatedClassName: 'aos-animate', // class applied on animation
        useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
        disableMutationObserver: false, // disables automatic mutations' detections (advanced)
        debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
        throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)


        // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
        offset: 0, // offset (in px) from the original trigger point
        delay: 200, // values from 0 to 3000, with step 50ms
        duration: 700, // values from 0 to 3000, with step 50ms
        easing: 'ease', // default easing for AOS animations
        once: true, // whether animation should happen only once - while scrolling down
        mirror: true, // whether elements should animate out while scrolling past them
        anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
    });
</script>

<div th:replace="fragments/header :: header"></div>

<div class="full-window-container bg-darkblue">
    <div class="header-block"></div>
    <div class="content">
        <div class="sub-content" style="width: 80%">
            <div class="subtitle" ata-aos="fade-up" data-aos-delay="200" style="padding-bottom: 50px">Профиль</div>
            <div class="form" ata-aos="fade-up" data-aos-delay="200">
                <div class="form-content">
                    <div class="row column">
                        <div class="label"></div>
                        <div class="avatar">
                            <th:block th:switch="${user.photoPath}">
                                <img th:case="null" th:src="@{'/images/default_user_avatar.png'}">
                                <img th:case="*" th:src="${user.photoPath}">
                            </th:block>
                        </div>
                    </div>
                    <div class="row column" >
                        <div class="label"></div>
                        <div class="text" th:text="'Имя пользователя: ' + ${user.username}"></div>
                    </div>
                    <div class="row column">
                        <div class="label"></div>
                        <div class="text" th:text="'ФИО: ' + ${user.surname} + ' ' + ${user.name} + ' ' + ${user.patronymic}"></div>
                    </div>
                    <div class="row column">
                        <div class="label"></div>
                        <div class="text" th:text="'Эл. почта: ' + ${user.email}"></div>
                    </div>
                    <div class="row column">
                        <div class="label"></div>
                        <div class="text" th:text="'Телефон: +7 ' + ${user.phoneNumber}"></div>
                    </div>
                    <div class="row">
                        <a th:href="@{'/' + ${username} + '/profile/edit'}" class="button button-simple-type-1 button-color-change" style="line-height: normal;">Редактировать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>