<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вакансия - Агент по продаже жилой недвижимости - Агенство недвижимости в Москве ИНЕРИ</title>
    <meta name="description" content="Вакансия - Агент по продаже жилой недвижимости. Агентство недвижимости в Москве ИНЕРИ. Инвестиции в недвижимость. Выкуп объектов. Торги по банкротству.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
    <link rel="shortcut icon" th:href="@{/images/icon_INERI_1.svg}" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script th:src="@{/scripts/scrolling.js}"></script>

</head>
<body>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            // Global settings:
            disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
            startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
            initClassName: 'aos-init', // class applied after initialization
            animatedClassName: 'aos-animate', // class applied on animation
            useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
            disableMutationObserver: false, // disables automatic mutations' detections (advanced)
            debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
            throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)


            // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
            offset: 0, // offset (in px) from the original trigger point
            delay: 200, // values from 0 to 3000, with step 50ms
            duration: 700, // values from 0 to 3000, with step 50ms
            easing: 'ease', // default easing for AOS animations
            once: true, // whether animation should happen only once - while scrolling down
            mirror: true, // whether elements should animate out while scrolling past them
            anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
        });
    </script>

    <div th:replace="fragments/header :: header"></div>

    <div id="vacancies-main" class="full-window-container bg-darkblue">
        <div id="vacancies-main-content" class="content">
            <div class="title-big" th:text="${vacancy.name}" data-aos="fade-up" data-aos-delay="200" style="position: relative; text-align: left; top: 15%">Агент по продаже жилой недвижимости</div><br/>
            <div class="title" th:text="${vacancy.city.name}" data-aos="fade-up" data-aos-delay="200" style="position: relative; text-align: left; top: -40px; padding-bottom: 20px; font-weight: 600">Москва</div>
            <div id="vacancies-main-content-list" style="position: relative; top: 0%">

                <div th:switch="${vacancy.active}"  style="display: flex; justify-content: flex-start; margin-bottom: 10px" data-aos="fade-up" data-aos-delay="250">
                    <a class="button button-simple-type-1 button-color-change" th:href="@{'/vacancies/' + ${vacancy.id} + '/edit'}">Изменить</a>
                    <a th:case="true" th:href="@{'/vacancies/' + ${vacancy.id} + '/set-active/?is-active=false'}" class="button button-simple-type-1 button-color-change" style="margin-left: 10px">Деактивировать</a>
                    <a th:case="false" th:href="@{'/vacancies/' + ${vacancy.id} + '/set-active/?is-active=true'}" class="button button-simple-type-1 button-color-default" style="margin-left: 10px">Активировать</a>
                    <a class="button button-simple-type-1 button-color-delete" th:href="@{'/vacancies/' + ${vacancy.id} + '/delete'}" style="margin-left: 10px">Удалить</a>
                </div>

                <div class="list-element" th:if="${textDescription != null}" data-aos="fade-up" data-aos-delay="300">
                    <div class="first-row-block">
                        <div class="name">Описание</div>
                    </div>
                    <div class="second-row-block">
                        <div th:each="line : ${textDescription}" th:remove="tag">
                            <p th:utext="${line}"></p>
                        </div>
                    </div>
                </div>

                <div class="list-element" th:if="${textStudy != null}" data-aos="fade-up" data-aos-delay="300">
                    <div class="first-row-block">
                        <div class="name">Чему вы можете у нас научиться</div>
                    </div>
                    <div class="second-row-block">
                        <div th:each="line : ${textStudy}" th:remove="tag">
                            <p th:utext="${line}"></p>
                        </div>
                    </div>
                </div>

                <div class="list-element" th:if="${textResponsibilities != null}" data-aos="fade-up" data-aos-delay="300">
                    <div class="first-row-block">
                        <div class="name">Обязанности</div>
                    </div>
                    <div class="second-row-block">
                        <div th:each="line : ${textResponsibilities}" th:remove="tag">
                            <p th:utext="${line}"></p>
                        </div>
                    </div>
                </div>

                <div class="list-element" th:if="${textRequirements != null}" data-aos="fade-up" data-aos-delay="300">
                    <div class="first-row-block">
                        <div class="name">Требования</div>
                    </div>
                    <div class="second-row-block">
                        <div th:each="line : ${textRequirements}" th:remove="tag">
                            <p th:utext="${line}"></p>
                        </div>
                    </div>
                </div>

                <div class="list-element" th:if="${textFeatures != null}" data-aos="fade-up" data-aos-delay="300">
                    <div class="first-row-block">
                        <div class="name">Мы предлагаем</div>
                    </div>
                    <div class="second-row-block">
                        <div th:each="line : ${textFeatures}" th:remove="tag">
                            <p th:text="${line}"></p>
                        </div>
                    </div>
                </div>

                <div class="list-element" th:if="${textSummary != null}" data-aos="fade-up" data-aos-delay="300">
                    <div class="first-row-block">
                        <div class="name">Зарплата</div>
                    </div>
                    <div class="second-row-block">
                        <div th:each="line : ${textSummary}" th:remove="tag">
                            <p th:utext="${line}"></p>
                        </div>
                    </div>
                </div>

                <a th:href="@{'/contacts'}"><div id="vacancies-1-button" class="button button-left-icon-type-0" data-aos="zoom-in" data-aos-delay="450"><div class="icon icon-call filter-white"></div>Показать контакты</div></a>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</body>
</html>