<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Каталог - Агентство недвижимости в Москве ИНЕРИ</title>
    <meta name="description" content="Каталог. Агентство недвижимости в Москве ИНЕРИ. Инвестиции в недвижимость. Выкуп объектов. Торги по банкротству.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/style.css}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" th:href="@{/images/icon_INERI_1.svg}" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale-subtle.css">
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/themes/light.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script th:src="@{/scripts/scrolling.js}"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
</head>
<body>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        // Global settings:
        disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
        startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
        initClassName: 'aos-init', // class applied after initialization
        animatedClassName: 'aos-animate', // class applied on animation
        useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
        disableMutationObserver: false, // disables automatic mutations' detections (advanced)
        debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
        throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)


        // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
        offset: 0, // offset (in px) from the original trigger point
        delay: 200, // values from 0 to 3000, with step 50ms
        duration: 700, // values from 0 to 3000, with step 50ms
        easing: 'ease', // default easing for AOS animations
        once: true, // whether animation should happen only once - while scrolling down
        mirror: true, // whether elements should animate out while scrolling past them
        anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
    });
</script>

<div th:replace="fragments/header :: header"></div>

<div class="full-window-container bg-light">
    <div class="header-block"></div>

    <img th:src="@{/images/photo_catalog_main.jpg}" style="position: absolute; top: 0; width: 100%; height: 200px; object-position: center; object-fit: cover;">

    <div class="content">
        <div class="sub-content" style="width: 80%; margin-top: 120px">
            <div class="title-big" data-aos="fade-up" data-aos-delay="200" style="position: relative; text-align: left; top: 15%;">Каталог</div>
            <form th:action="@{'/catalog'}" method="get">
            <div id="advertised-control-panel" class="control-panel" data-aos="fade-up" data-aos-delay="300" style="flex-grow: 1; display: flex; flex-wrap: wrap; flex-direction: row; justify-content: flex-start; align-items: baseline;">
                <a class="button button-simple-type-1 button-color-add" th:if="${isAdmin}" th:href="@{'/catalog/new'}">Добавить новую запись</a>
                <select name="city" id="city" style="margin: 5px">
                    <option>Не важно</option>
                    <option th:each="city : ${cities}" th:value="${city.name}" th:text="${city.name}" th:attr="selected=${selectedCity == city.name} ? ${'selected'} : ${''}"></option>
                </select>
                <div id="area" style="margin: 5px; font-size: small">
                    <input type="number" id="areaMin" style="width: 80px">
                    <input type="number" id="areaMax" style="width: 80px">
                </div>
                <div id="floor" style="margin: 5px; font-size: small">
                    <input type="number" id="floorMin" style="width: 50px">
                    <input type="number" id="floorMax" style="width: 50px">
                </div>
                <div id="houseFloor" style="margin: 5px; font-size: small">
                    <input type="number" id="houseFloorMin" style="width: 50px">
                    <input type="number" id="houseFloorMax" style="width: 50px">
                </div>
                <div id="roomSize" style="margin: 5px; font-size: small">
                    <input type="number" id="roomSizeMin" style="width: 50px">
                    <input type="number" id="roomSizeMax" style="width: 50px">
                </div>
                <select name="houseType" id="houseType" style="margin: 5px">
                    <option>Не важно</option>
                    <option th:each="type : ${houseTypes}" th:value="${type.name}" th:text="${type.name}"></option>
                </select>
                <select name="propertyType" id="propertyType" style="margin: 5px">
                    <option>Не важно</option>
                    <option th:each="type : ${propertyTypes}" th:value="${type.name}" th:text="${type.name}"></option>
                </select>
                <select name="renovationType" id="renovationType" style="margin: 5px">
                    <option>Не важно</option>
                    <option th:each="type : ${renovationTypes}" th:value="${type.name}" th:text="${type.name}"></option>
                </select>
                <select name="estateObjectType" id="estateObjectType" style="margin: 5px">
                    <option>Не важно</option>
                    <option th:each="type : ${estateObjectTypes}" th:text="${type.name}"></option>
                </select>
                <button type="submit" class="button button-simple-type-1 button-color-default">Применить фильтр</button>
                <script>
                    tippy('#city', {
                        content: 'Город',
                        animation: 'scale-subtle',
                        theme: 'light'
                    });
                    tippy('#area', {
                        content: 'Площадь',
                        animation: 'scale-subtle',
                        theme: 'light'
                    });
                    tippy('#floor', {
                        content: 'Этаж',
                        animation: 'scale-subtle',
                        theme: 'light'
                    });
                    tippy('#houseFloor', {
                        content: 'Этажность дома',
                        animation: 'scale-subtle',
                        theme: 'light'
                    });
                    tippy('#roomSize', {
                        content: 'Кол-во комнат',
                        animation: 'scale-subtle',
                        theme: 'light'
                    });
                    tippy('#houseType', {
                        content: 'Тип дома',
                        animation: 'scale-subtle',
                        theme: 'light'
                    });
                    tippy('#propertyType', {
                        content: 'Тип недвижимости',
                        animation: 'scale-subtle',
                        theme: 'light'
                    });
                    tippy('#renovationType', {
                        content: 'Тип ремонта',
                        animation: 'scale-subtle',
                        theme: 'light'
                    });
                    tippy('#estateObjectType', {
                        content: 'Тип объекта недвижимости',
                        animation: 'scale-subtle',
                        theme: 'light'
                    });
                </script>
            </div>
            </form>
            <div class="flex-blocks-container">
                <div class="item" th:each="advertised : ${advertiseds}" data-aos="fade-up" data-aos-delay="300">
                    <div class="block-catalog" th:switch="${advertised.advertisedPhoto.size}" th:attrappend="style=${isAdmin == true} ? ${' height: 350px'} : ${''}">
                        <div class="block-content">
                            <a th:case="0" th:href="@{'/catalog/' + ${advertised.id}}"><img class="noselect" th:src="@{images/image_no_image_available.jpg}" style="object-fit: contain;"></a>
                            <a th:case="*" th:href="@{'/catalog/' + ${advertised.id}}"><img class="noselect" th:src="${advertised.advertisedPhoto[0].path}"></a>
                            <div class="info">
                                <div class="price" th:text="@{${#numbers.formatDecimal(advertised.price, 1, 'WHITESPACE', 0, 'COMMA')} + ' ₽'}"></div>
                                <div class="attributes">
                                    <div class="value" th:text="${advertised.estateObject.estateObjectType.name}"></div>
                                    <div class="value" th:text="@{${advertised.estateObject.floor} + '/' + ${advertised.estateObject.maxFloor}}"></div>
                                    <div class="value" th:text="@{${advertised.estateObject.area} + ' м²'}"></div>
                                </div>
                                <div class="address" th:text="@{'г. ' + ${advertised.estateObject.address.city.name} + ', ' + ${advertised.estateObject.address.fullAddress}}"></div>
                            </div>
                        </div>
                        <div class="actions">
                            <a class="button button-simple-type-1 button-color-change" th:if="${isAdmin}" th:href="@{'/catalog/' + ${advertised.id} + '/edit'}" style="margin-bottom: 10px">Изменить</a>
                            <a class="button button-simple-type-1 button-color-delete" th:if="${isAdmin}" th:href="@{'/catalog/' + ${advertised.id} + '/delete'}" style="margin-bottom: 10px">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>