<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
</head>
<body>
    <div th:switch="${user}">
        <h2 th:case="null">NOT FOUND</h2>
        <div th:case="*">
            <h4>Здесь должно быть фото</h4>
            <br>

            <h4>Логин:</h4>
            <th th:text="*{username}"></th>
            <br>
            <br>

            <h4>ФИО:</h4>
            <th th:text="*{user.surname} + ' ' + *{user.name} + ' ' + *{user.patronymic}"></th>
            <br>
            <br>

            <h4>Email:</h4>
            <th th:text="*{user.email}"></th>
            <br>
            <br>

            <h4>Телефон</h4>
            <th th:text="'+7' + *{user.phoneNumber}"></th>
            <br>
            <br>
        </div>
        <p><a th:href="@{'/' + ${username} +'/profile/edit'}"><button>Редактировать профиль</button></a></p>
    </div>
</body>
</html>