<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Анкеты</title>
</head>
<body>
    <div th:switch="${forms}">
        <h2 th:case="null">Анкеты не найдены!</h2>
        <div th:case="*">
            <h2>Список всех анкет</h2>
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Адрес</th>
                    <th>Площадь</th>
                    <th>Этаж / Количество этажей</th>
                    <th>Количество комнат</th>
                    <th>Описание</th>
                    <th>Цена</th>
                    <th>Логин создателя</th>
                    <th>Логин проверяющего администратора</th>
                    <th>Тип дома</th>
                    <th>Тип объекта недвижимости</th>
                    <th>Тип ремонта</th>
                    <th>Тип недвижимости</th>
                    <th>Комментарий</th>
                    <th>Статус</th>
                    <th>Дата создания</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="form : ${forms}">
                    <td th:text="${form.id}"></td>
                    <td th:text="'г. ' + ${form.address.city.name} + ' ' + ${form.address.fullAddress}"></td>
                    <td th:text="${form.area} + ' м²'"></td>
                    <td th:text="${form.floor} + '/' + ${form.maxFloor}"></td>
                    <td th:text="${form.roomSize}"></td>
                    <td th:text="${form.description}"></td>
                    <td th:text="${form.price}"></td>
                    <td th:text="${form.user.username}"></td>
                    <td th:if="${form.admin != null}" th:text="${form.admin.username}"></td>
                    <td th:if="${form.admin == null}" th:text="Нет"></td>
                    <td th:text="${form.houseType.name}"></td>
                    <td th:text="${form.estateObjectType.name}"></td>
                    <td th:text="${form.renovationType.name}"></td>
                    <td th:text="${form.propertyType.name}"></td>
                    <td th:text="${form.adminComment}"></td>
                    <td th:text="${form.state}"></td>
                    <td th:text="${#temporals.format(form.dateTimeCreated, 'dd.MM.yyy HH:mm')}"></td>
                    <td>
                        <!--Для всех пользователей-->
                        <a th:href="@{'/'+${username}+'/forms/' + ${form.id} + '/delete'}"><button>Удалить</button></a>

                        <!--Для админа-->
                        <a th:href="@{'/'+${username}+'/forms/' + ${form.id} + '/publish'}"><button>Опубликовать</button></a>
                        <a th:href="@{'/'+${username}+'/forms/' + ${form.id} + '/reject'}"><button>Отклонить</button></a>
                        <a th:href="@{'/'+${username}+'/forms/' + ${form.id}}"><button>Просмотреть подробную информацию</button></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--Только для пользователей-->
            <a th:href="@{'/'+${username}+'/forms/new'}"><button>Создать новую анкету</button></a>
        </div>
    </div>
</body>
</html>