<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование</title>
</head>
<body>
    <h1>Измените данные</h1>
    <form th:action="@{'/'+${user.username}+'/edit'}" th:object="${user}" method="post">
        <input type="text" th:field="*{id}" id="id" hidden>

        <label for="username">Логин</label>
        <input type="text" th:field="*{username}" id="username">
        <br>
        <br>

        <label for="password">Пароль</label>
        <input type="text" th:field="*{password}" id="password">
        <br>
        <br>

        <label for="surname">Фамилия</label>
        <input type="text" th:field="*{surname}" id="surname">
        <br>
        <br>

        <label for="name">Имя</label>
        <input type="text" th:field="*{name}" id="name">
        <br>
        <br>

        <label for="patronymic">Отчество</label>
        <input type="text" th:field="*{patronymic}" id="patronymic">
        <br>
        <br>

        <label for="email">Email</label>
        <input type="text" th:field="*{email}" id="email">
        <br>
        <br>

        <label for="phoneNumber">Номер телефона</label>
        <input type="text" th:field="*{phoneNumber}" id="phoneNumber">
        <br>
        <br>

        <input type="submit" value="Внести изменения">
    </form>
</body>
</html>