<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вакансия - Оператор call-центра - Агенство недвижимости в Москве ИНЕРИ</title>
    <meta name="description" content="Вакансия - Оператор call-центра. Агентство недвижимости в Москве ИНЕРИ. Инвестиции в недвижимость. Выкуп объектов. Торги по банкротству.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../styles/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="shortcut icon" href="../../../static/images/icon_INERI_1.svg" type="image/x-icon">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="../../../static/scripts/scrolling.js"></script>
</head>
<body>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        // Global settings:
        disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
        startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
        initClassName: 'aos-init', // class applied after initialization
        animatedClassName: 'aos-animate', // class applied on animation
        useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
        disableMutationObserver: false, // disables automatic mutations' detections (advanced)
        debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
        throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)


        // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
        offset: 0, // offset (in px) from the original trigger point
        delay: 200, // values from 0 to 3000, with step 50ms
        duration: 700, // values from 0 to 3000, with step 50ms
        easing: 'ease', // default easing for AOS animations
        once: true, // whether animation should happen only once - while scrolling down
        mirror: true, // whether elements should animate out while scrolling past them
        anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
    });
</script>

<div class="header">
    <div class="logo logo-INERI" id="logo">ИНЕРИ</div>
    <div class="menu">
        <a href="../index.html"><div id="menu-main" class="menu-item"><div class="icon icon-home filter-white" style="margin-right: 10px;"></div>Главная</div></a>
        <a href="#"><div id="menu-catalog" class="menu-item hide"><div class="icon icon-home-purchasing-2 filter-white" style="margin-right: 10px;"></div>Каталог</div></a>
        <a href="#"><div id="menu-investing" class="menu-item hide"><div class="icon icon-growth filter-white" style="margin-right: 10px;"></div>Инвестиции</div></a>
        <a href="../contacts.html"><div id="menu-contacts" class="menu-item"><div class="icon icon-call-point-2 filter-white" style="margin-right: 10px;"></div>Контакты</div></a>
        <a href="../vacancies.html"><div id="menu-vacancies" class="menu-item"><div class="icon icon-job filter-white" style="margin-right: 10px;"></div>Вакансии</div></a>
        <a href="#"><div id="menu-account" class="menu-item hide"><div class="icon icon-user filter-white" style="margin-right: 10px;"></div>Личный кабинет</div></a>

        <a href="../index.html"><div id="menu-main-mini" class="menu-item only-icon"><div class="icon icon-home filter-white"></div></div></a>
        <a href="#"><div id="menu-catalog-mini" class="menu-item only-icon hide"><div class="icon icon-home-purchasing-2 filter-white"></div></div></a>
        <a href="#"><div id="menu-investing-mini" class="menu-item only-icon hide"><div class="icon icon-growth filter-white"></div></div></a>
        <a href="../contacts.html"><div id="menu-contacts-mini" class="menu-item only-icon"><div class="icon icon-call-point-2 filter-white"></div></div></a>
        <a href="../vacancies.html"><div id="menu-vacancies-mini" class="menu-item only-icon"><div class="icon icon-job filter-white"></div></div></a>
        <a href="#"><div id="menu-account-mini" class="menu-item only-icon hide"><div class="icon icon-user filter-white"></div></div></a>
    </div>
</div>

<div id="vacancies-main" class="bg-darkblue">
    <div id="vacancies-main-content" class="content">
        <div class="title-big" data-aos="fade-up" data-aos-delay="200" style="position: relative; text-align: left; top: 15%">Оператор call-центра</div></br>
        <div class="title" data-aos="fade-up" data-aos-delay="200" style="position: relative; text-align: left; top: -40px; padding-bottom: 20px; font-weight: 600">Удалённая работа</div>
        <div id="vacancies-main-content-list" style="position: relative; top: 0%">
            <div class="list-element" data-aos="fade-up" data-aos-delay="300">
                <div class="first-row-block">
                    <div class="name">Описание</div>
                </div>
                <div class="second-row-block">
                    <p>Приглашаем Вас для работы в нашем агентстве недвижимости.</p>
                    <p>Эта вакансия для тебя, если ты:</p>
                    <p>Любишь и умеешь общаться с людьми;</p>
                    <p>Всегда открыт, готов выслушать и помочь.</p>
                    <p>Имеешь тех. оснащение, а именно: компьютер или ноутбук, наушники с микрофоном и стабильный интернет.</p>
                </div>
            </div>

            <div class="list-element" data-aos="fade-up" data-aos-delay="350">
                <div class="first-row-block">
                    <div class="name">Обязанности</div>
                </div>
                <div class="second-row-block">
                    <p>- Звонки клиентам по вопросам актуальности услуги. Мы работаем в сфере недвижимости и оказываем консультативные услуги. Нет продаж!</p>
                    <p>- Минимальная отчетность.</p>
                </div>
            </div>

            <div class="list-element" data-aos="fade-up" data-aos-delay="400">
                <div class="first-row-block">
                    <div class="name">Требования</div>
                </div>
                <div class="second-row-block">
                    <p>- Грамотная и четкая речь</p>
                    <p>- Наличие компьютера, гарнитуры и стабильного интернета</p>
                    <p>- Возможность обеспечить тишину в течение рабочего дня</p>
                    <p>- Желание много зарабатывать!</p>
                </div>
            </div>

            <div class="list-element" data-aos="fade-up" data-aos-delay="450">
                <div class="first-row-block">
                    <div class="name">Условия</div>
                </div>
                <div class="second-row-block">
                    <p>- Стандартная рабочая неделя 5/2, сб-вс - выходные.</p>
                    <p>- Если вы хотите зарабатывать, то можете дополнительно работать в выходные дни!</p>
                    <p>- Полный рабочий день 8 часов. При этом, есть возможность скорректировать график под себя, так как наш КЦ работает с 9 утра до 9 вечера.</p>
                    <p>- Возможна частичная занятость от 5 часов в день.</p>
                    <p>- Оплата состоит из оклада и бонуса за каждый перевод. Особо эффективным кандидатам дополнительные премии.</p>
                    <p>- Работа полностью удаленная</p>
                </div>
            </div>

            <a href="../contacts.html"><div id="vacancies-1-button" class="button-left-icon-type-0" data-aos="zoom-in" data-aos-delay="450"><div class="icon icon-call filter-white"></div>Показать контакты</div></a>
        </div>
    </div>
</div>
<div class="footer" id="bottom">
    <div class="footer-flex-item-left">
        <a href="../index.html">Главная</a></br>
        <a href="../contacts.html">Контакты</a></br>
        <a href="#">Вакансии</a>
    </div>
    <div class="footer-flex-item-right">
        © 2021 ООО “ИНЕРИ”</br>
        Все права защищены.</br>
        developer: @alexsnitol
    </div>
</div>
</body>
</html>