.container{
    padding-top: 40px;
}
.footer{
    height: auto;
    margin: 40px 0 0px 0;
    padding: 10px 0 10px 0;
    background-color: white;
}

.btn-primary {
    background-color: #554ce9;
    color: #fff
}
.btn-round {
    border-width: 1px;
    border-radius: 30px !important;
    padding: 11px 23px
}

.btn-round.btn-simple {
    padding: 10px 22px
}

.btn-simple {
    border: 1px solid;
    border-color: #888;
    padding: 10px 22px;
    background-color: rgba(0,0,0,0)
}
.form-control::-webkit-input-placeholder {
    color: #ddd;
    opacity: 1;
    filter: alpha(opacity=100)
}
.form-control {
    -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: auto;
    background-color: rgba(0,0,0,0);
    border: 1px solid #E3E3E3;
    border-radius: 30px;
    color: #2c2c2c;
    line-height: normal;
    font-size: .8571em;
    position: relative
}
.form-group .form-control,.input-group .form-control {
    padding: 10px 18px 10px 18px
}
.input-group,.form-group {
    margin-bottom: 10px
}
textarea.form-control {
    max-width: 100%;
    padding: 10px 10px 0 0;
    resize: none;
    border: none;
    border-bottom: 1px solid #E3E3E3;
    border-radius: 0;
    line-height: 2
}
.form-group {
    position: relative
}
h2,.h2 {
    font-size: 2.5em;
    margin-bottom: 30px
}

h3,.h3 {
    font-size: 2em;
    margin-bottom: 30px;
    line-height: 1.4em
}
body {
    color: #2c2c2c;
    font-size: 14px;
}
.m-l-0,.ls-toggle-menu section.content,.ls-closed section.content {
    margin-left: 0px
}
.m-b-0,.checkbox label,.radio label,.authentication .card-plain .header h5,.navbar-nav.navbar-left .input-group,.sidebar .user-info .detail h4,.right-sidebar .card,.right-sidebar .card ul,.block-header .breadcrumb,.card .header,.page-calendar .event-name h6,.page-calendar .event-name h4,.page-calendar .event-name p,.page-calendar .event-name address,.activity li a .info h4,.activity_2 h5,.chat-wrapper .card .input-group,.project_list .table,.weather .city h3,.inbox-widget .inbox-inner:last-child,.inbox-widget .inbox-inner .inbox-item-info .inbox-date,.inbox-widget .inbox-inner .inbox-item-info .author,.inbox-widget .inbox-inner .inbox-item-info .inbox-message,.profile_state li h4,.social_media_table .table,.new_friend_list,.new_friend_list li .users_name,.contact .action_bar .delete_all,.contact .c_list .checkbox,.contact .c_list .c_name,.contact .c_list address,.profile-page #timeline .timeline .timeline-item {
    margin-bottom: 0px
}
.m-t-5,.card .card-inside-title small,.card .header h2 small,.page-calendar .event-name address,.team-info,.new_friend_list li .users_name {
    margin-top: 5px
}
.m-t-15,.sidebar .menu .list .header {
    margin-top: 15px
}
.m-b-15,.right-sidebar .card h6,.card .card-inside-title,.activity li a,.widget_2 h2,.new_friend_list li {
    margin-bottom: 15px
}
.m-b-30,.card,.weather .city {
    margin-bottom: 30px
}
.margin-0,.card .header .header-dropdown,.card .header h2,.media .media-body .media-heading,.dropdown-menu ul.menu .menu-info h4,.dropdown-menu ul.menu .menu-info p,.chat-wrapper .card,.project_widget .pw_content .pw_header h6,.weather2 .city-selected .temp h2,.weather2 .days-list,.agent .agent-content .agent-name h4,.agent .agent-content .agent-contact-details,.agent .agent-content .social-icons,.inbox-widget,.profile_state,.contact .action_bar .btn,.contact .action_bar .search,.contact .c_list tr td .btn {
    margin: 0 !important
}
.no-resize {
    resize: none
}
.block-header {
    padding: 20px 15px
}

.block-header h2 {
    margin: 0 !important;
    font-size: 20px;
    font-weight: 600
}
button,input,select,a {
    outline: none !important
}
.no-animate {
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important
}

section.content {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    padding: 0 20px;
    z-index: 9
}
.inlineblock,.navbar-header,.navbar-nav.navbar-left,.navbar-nav.navbar-right,.navbar-nav.navbar-left>li,.navbar-nav.navbar-right>li,.navbar-nav>li>a,.sidebar,.right-sidebar .choose-skin li,.right-sidebar .choose-skin li div,.right-sidebar .right_chat .media .message,.right-sidebar .right_chat .media .status,.right-sidebar .theme-light-dark li,.card,.card .header .header-dropdown li,.dropdown-menu ul.menu .icon-circle,.dropdown-menu ul.menu .menu-info,.team-info li,.chat-widget .chat-scroll-list li.left .chat-info,.chat-widget .chat-scroll-list li.right .chat-info,.weather .days li,.agent .agent-content .agent-contact-details li span,.agent .agent-content .social-icons li,.agent .agent-content .social-icons li a,.member-card .social-links li,.w_calender span+span,.w_calender ul li,.contact .c_list .checkbox,.contact .c_list .c_name,.property_list .property-action a,.member-card .header-dropdown,.member-card .member-thumb {
    display: inline-block
}

.displayblock,.sidebar .menu .list a,.card .card-inside-title,.card .card-inside-title small,.card .header .header-dropdown li a,.card .header h2 small,.dropdown-menu ul.menu li a,.dropdown-menu .footer a,.dropdown-menu>li>a,.page-calendar .event-name h4 span,.activity li a,.chat-widget .chat-scroll-list li .message,.project_widget .pw_img:before,.project_widget .pw_content .pw_meta small,.project_widget .pw_content .pw_meta span,.twitter-feed p,.weather .days li .degrees,.weather2 .city-selected .temp h2,.agent .agent-avatar a,.agent .agent-content .agent-contact-details,.inbox-widget .inbox-inner:hover .hover_action,.inbox-widget .inbox-inner .inbox-item-info .inbox-message,.member-card .text-pink,.new_friend_list li .join_date,.w_calender span,.file_manager .file .file-name small {
    display: block
}
.card {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background: #fff;
    border-radius: .1875rem;
    position: relative;
    box-shadow: none;
    width: 100%;
    border: 0
}
.card .header {
    color: #424242;
    padding: 20px;
    position: relative;
    box-shadow: none
}
.card .header h2 {
    font-size: 17px;
    color: #757575;
    position: relative
}

.card .header h2::before {
    position: absolute;
    width: 13px;
    height: 2px;
    left: -20px;
    top: 8px;
    content: ''
}

.card .header h2 small {
    color: #9e9e9e;
    line-height: 15px
}
.card .body {
    font-size: 14px;
    color: #424242;
    padding: 20px;
    font-weight: 400
}
.dropzone {
    border: 2px solid transparent !important;
    background-color: #eee !important
}

.dropzone .dz-message .drag-icon-cph .material-icons {
    font-size: 80px;
    color: #777
}
.dropzone, .dropzone * {
    box-sizing: border-box;
}

.dropzone {
    min-height: 150px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: white;
    padding: 20px 20px;
}

.dropzone.dz-clickable {
    cursor: pointer;
}

.dropzone.dz-clickable * {
    cursor: default;
}

.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
    cursor: pointer;
}
.dropzone .dz-message {
    text-align: center;
    margin: 2em 0;
}